body{
  width:300px;
  padding:4px;
}

.container{
  padding:4px !important;
}

.developer{
  margin-bottom:2px;
}

#developerLink{
  font-size:9px;
  color:#7a7a7a;
  text-decoration:none;
}

#developerLink:hover{
  color:#00ebc7;
}

#preview{
  width:25px;
  height:25px;
  border-radius:10%;
  border:1px solid #dcdcdc;
  flex-shrink:0;
}

#hexColor{
  font-size:11px;
}